body{
	font-family: Roboto, Helvetica;
	font-weight: 300;
	color: #e8e8e8;
}
.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.allowselect {
  -webkit-touch-callout: text !important;
    -webkit-user-select: text !important;
     -khtml-user-select: text !important;
       -moz-user-select: text !important;
        -ms-user-select: text !important;
            user-select: text !important;
}
#play{
	display: none;
}
#menu{
	display: none;
}

.robotbig{
	width: 200px;
	position: absolute;
	top: calc(30% - 100px);
	left: calc(50% - 300px);
}
#speechbubble{
	width: calc(40% - 100px);
	min-width: 350px;
	height: 160px;
	position: absolute;
	top: calc(30% - 100px);
	left: calc(50% - 50px);
	display: block;
	background: #260024;
	border: 8px solid #D70047;
	font-family: "Roboto Mono", menlo, monaco;
	color: #D70047;
	font-size: 40px;
	padding: 20px;
}
#speechbubble::before{
	content: ' ';
	width: 0;
	height: 0;
	border: 30px solid rgba(0,0,0,0);
	border-right: 30px solid #D70047;
	position: absolute;
	top: 35%;
	left: -65px;
}
.menubutton{
	background: #528BFF;
	padding: 10px 20px;
	font-size: 30px;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.3s, color 0.3s;
	position: absolute;
	top: calc(30% + 230px);
	text-align: center;
}
.menubutton:hover{
	background: #526AFF;
}
.start-menubutton{
	right: calc(10% + 100px);
	width: 120px;
}
@media screen and (max-width: 1200px){
	.start-menubutton{
		right: calc(50% - 350px);
		width: 120px;
	}
}

.level-menubutton{
	left: calc(50% - 200px);
	width: 140px;
}
.prevlevel-menubutton{
	left: calc(50% - 280px);
	width: 30px;
}
.exit-menubutton{
	top: 15px;
	left: 15px;
	width: 30px;
}
.restartlevel-menubutton{
	top: 15px;
	left: 100px;
	width: 30px;
}
.nextlevel-menubutton{
	top: 15px;
	right: 15px;
	width: 200px;
	display: none;
}


#instructionsDiv{
	margin-top: 3px;
	padding: 30px;
	font-size: 14px;
	overflow: scroll;
	line-height: 20px;
	letter-spacing: 0.4px;
	height: calc(100% - 98px);
}
#instructionsDiv a{
	color: rgb(82,139,255);
	text-decoration: none;
}
#instructionsDiv a:hover{
	text-decoration: underline;
}
#instructionsDiv pre{
	background-color: rgb(40,44,52);
	padding: 10px;
	border-radius: 5px;
	font-family: "Roboto Mono", menlo, monaco;
	border: 2px solid #434a57;
	border-radius: 5px;
	tab-size: 4;
	font-size: 11px;
}
#instructionsDiv code{
	background-color: rgb(40,44,52);
	padding: 3px 5px;
	border-radius: 5px;
	font-family: "Roboto Mono", menlo, monaco;
	border-radius: 5px;
	font-size: 11px;
}
#codearea{
	background: rgb(20,24,32);
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
#buttonbar{
	background: rgb(40,44,52);
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#buttonbar li{
	display: inline-block;
	font-size: 0px;
}
#buttonbar li a{
	transition: background 0.3s, color 0.3s;
	display: inline-block;
	width: 100px;
	text-align: center;
	height: 35px;
	line-height: 35px;
	font-family: Helvetica;
	cursor: pointer;
	color: #e8e8e8;
	font-size: 14px;
}
#buttonbar li a:hover{
	background: rgb(60,64,72);
}
#buttonbar.minimized li a.selected{
	background: #646e82;
}
#buttonbar li a.selected{
	background: rgb(82,139,255);
}
#buttonbar li#minmax{
	float: right;
}
#buttonbar li#minmax a{
	width: 40px;
	font-weight: bold;
}


#code, #command{
	outline: none;
	background: rgb(40,44,52);
	color: #999;
	padding: 10px;
	font-family: "Roboto Mono", menlo, monaco;
	border: 2px solid #434a57;
	border-radius: 5px;
	transition: border 0.3s, color 0.3s, background 0.2s;
	tab-size: 4;
	font-size: 11px;
}
#code{
	overflow-y: scroll;
	width: calc(100% - 20px);
	margin: 10px;
	resize: none;
	padding-left: 25px;
	position: relative;
	height: calc(100% - 54px);
}
#codeDiv{
	display: block;
}
#commandDiv{
		display: none;
		height: calc(100% - 35px);
		position: relative;
}
#command{
	margin: 10px;
	width: calc(100% - 20px);
	padding-left: 25px;
	position: absolute;
  bottom: 0;
}
#command.execute, #code.execute{
	transition: background 0.1s;
	color: white;
	border: 2px solid rgb(82,139,255);
  background: rgb(82,139,255);
}
#commandDiv::after{
	content: '>';
	color: #e8e8e8;
	font-family: "Roboto Mono", menlo, monaco;
	position: absolute;
	bottom: 20px;
	width: 10px;
	left: 20px;
	display: inline-block;
	color: white;
	-webkit-transform:scale(0.75, 1.0);
	-moz-transform:scale(0.75, 1.0);
	-ms-transform:scale(0.75, 1.0);
	-o-transform:scale(0.75, 1.0);
	transform:scale(0.75,1.0);
}
#output{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 50px;
	overflow: scroll;
	padding: 6px 20px;
	font-family: "Roboto Mono", menlo, monaco;
	font-size: 11px;
	color: #ddd;
}
#output b{
	color: #528bff;
}
#output i{
	font-style: normal;
	font-weight: bold;
	color: #ff2c72;
}
#output hr{
		border-width: 1px 0 0 0;
    border-top: 1px solid #3b3b3b !important;
    margin: 4px -20px;
}

.CodeMirror{
	font-family: "Roboto Mono", menlo, monaco;
	font-weight: normal;
	font-size: 12px;
  height: calc(100% - 59px);
  margin: 10px;
	border: 2px solid #434a57 !important;
  border-radius: 5px;
  transition: border 0.3s, color 0.3s, background 0.2s;
}

.CodeMirror-focused{
	border: 2px solid rgb(82,139,255) !important;
}

.CodeMirror.cm-s-dracula.execute{
	transition: background 0.1s;
	border: 2px solid rgb(82,139,255) !important;
  background: rgb(82,139,255) !important;
}

.CodeMirror.cm-s-dracula .CodeMirror-gutters {
	transition: background 0.2s;
}
.CodeMirror.cm-s-dracula.execute .CodeMirror-gutters {
	transition: background 0.1s;
  background: rgb(82,139,255) !important;
}


#code:focus, #command:focus{
	border: 2px solid rgb(82,139,255);
	color: #e8e8e8;
}

::-moz-selection{
	background: #bbb !important;
}
::-webkit-selection{
	background: #bbb !important;
}
::selection{
	background: #bbb !important;
}

#propertiesDiv{
	display: none;
	padding: 30px;
	font-family: "Roboto Mono", menlo, monaco;
	font-weight: normal !important;
	font-size: 11px;
	overflow: scroll;
	height: calc(100% - 95px);
}
#propertiesDiv table{
	margin-left: 20px;
	font-weight: normal;
	font-size: 11px;
}
#propertiesDiv table td{
    padding: 0px;
    padding-left: 10px;
}
#propertiesDiv b{
	font-weight: normal !important;
	color: rgb(82,139,255);
}
#submitCode{
	z-index: 1000;
	border: 2px solid #434a57;
	border-radius: 5px;
	transition: background 0.3s, border 0.3s, color 0.3s;
	display: block;
	background:  rgb(60,64,72);
	color: #ccc;
	width: 80px;
	text-align: center;
	height: 25px;
	line-height: 25px;
	font-family: Helvetica;
	cursor: pointer;
	font-size: 14px;
	position: absolute;
	right: 20px;
	bottom: 20px;

}
#submitCode:hover{
	background: #646e82;
	border: 2px solid #646e82;
	color: white;
}
#submitCode:active{
	background: rgb(82,139,255);
	border: 2px solid rgb(82,139,255);
	color: white;
}
