body{
	font-family: Roboto, Helvetica;
	font-weight: 300;
	color: #e8e8e8;
}
.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
#codearea{
	background: rgb(20,24,32);
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
#buttonbar{
	background: rgb(40,44,52);
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#buttonbar li{
	display: inline-block;
	font-size: 0px;
}
#buttonbar li a{
	transition: background 0.3s, color 0.3s;
	display: inline-block;
	width: 100px;
	text-align: center;
	height: 35px;
	line-height: 35px;
	font-family: Helvetica;
	cursor: pointer;
	color: #e8e8e8;
	font-size: 14px;
}
#buttonbar li a:hover{
	background: rgb(60,64,72);
}
#buttonbar.minimized li a.selected{
	background: #646e82;
}
#buttonbar li a.selected{
	background: rgb(82,139,255);
}
#buttonbar li#minmax{
	float: right;
}
#buttonbar li#minmax a{
	width: 40px;
	font-weight: bold;
}


#code, #command{
	outline: none;
	background: rgb(40,44,52);
	color: #999;
	padding: 10px;
	font-family: "Roboto Mono", menlo, monaco;
	border: 2px solid #434a57;
	border-radius: 5px;
	transition: border 0.3s, color 0.3s, background 0.2s;
	tab-size: 4;
	font-size: 11px;
}
#code{
	overflow: auto;
	width: calc(100% - 20px);
	margin: 10px;
	resize: none;
    overflow-y: visible;
	padding-left: 25px;
	position: relative;
}
#codeDiv{
	display: block;
}
#linenumbers{
	font-family: "Roboto Mono", menlo, monaco;
	color: #999;
	position: absolute;
	font-size: 11px;
	margin-top: 12px;
	padding-top: 10px;
	margin-left: 20px;
	z-index: 1000;
	overflow: hidden;
}
#commandDiv{
		display: none;
}
#command{
	margin-top: 10px;
	margin-bottom: 10px;
	width: calc(100% - 20px);
	padding-left: 25px;
}
#command.execute, #code.execute{
	transition: background 0.1s;
	color: white;
	border: 2px solid rgb(82,139,255);
  background: rgb(82,139,255);
}
#commandDiv::before{
	content: '>';
	color: #e8e8e8;
	font-family: "Roboto Mono", menlo, monaco;
	position: relative;
	top: 2px;
	width: 10px;
	left: 20px;
	display: inline-block;
	color: white;
	-webkit-transform:scale(0.75, 1.0);
	-moz-transform:scale(0.75, 1.0);
	-ms-transform:scale(0.75, 1.0);
	-o-transform:scale(0.75, 1.0);
	transform:scale(0.75,1.0);
}

#code:focus, #command:focus{
	border: 2px solid rgb(82,139,255);
	color: #e8e8e8;
}

#code::-moz-selection, #command::-moz-selection{
	background: #bbb;
}
#code::selection, #command::selection{
	background: #bbb;
}

#propertiesDiv{
	display: none;
	padding: 30px;
	font-family: "Roboto Mono", menlo, monaco;
	font-size: 11px;
}
#submitCode{
	border: 2px solid #434a57;
	border-radius: 5px;
	transition: background 0.3s, border 0.3s, color 0.3s;
	display: block;
	background:  rgb(60,64,72);
	color: #ccc;
	width: 80px;
	text-align: center;
	height: 25px;
	line-height: 25px;
	font-family: Helvetica;
	cursor: pointer;
	font-size: 14px;
	position: absolute;
	right: 20px;
	bottom: 20px;

}
#submitCode:hover{
	background: #646e82;
	border: 2px solid #646e82;
	color: white;
}
#submitCode:active{
	background: rgb(82,139,255);
	border: 2px solid rgb(82,139,255);
	color: white;
}
